# dependencies
node_modules/

# build
dist/
dist-next/

# env
.env.local
.env.*.local

# logs
*.log

# cache
.vite/
.cache/

# coverage
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# AI generated folders
.dist-*
.audio-*

# nếu AI còn tạo thêm
.check-*
.temp-*
.tmp-*